.footer-base{
  position: fixed;
  width: 375px;
  height: 117px;
  
  bottom: 0px;
  background: #DFE6ED;
  display: flex;
  align-items: center;
   padding-left: 10px;
  border-top: 1px solid #9EADBA;
}
.filmes-footer {
  width: 62px;
  height: 83px;
  background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 2px;
display: flex;
  align-items: center;
  justify-content: center;
}

.filmes-footer img {
  width: 48px;
  height: 72px;
}
.p-footer{
margin-left: 15px;
font-size: 22px;


color: #293845;
}