@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  background: #E5E5E5; 
 
}

a {
  text-decoration: none;
}
.root{
  width: 375px;
  height: 900px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff; 
  overflow-y: auto;

}
.root::-webkit-scrollbar {
  display: none;}
